Notas_SA/

# Python Cache
__pycache__/
**/__pycache__/
*.pyc

# Real-Time / Zero Trust outputs
dataset/session_live_*.csv

# Datasets (Raw & Processed)
dataset/keystrokes/*
dataset/Mouse-Dynamics/test_files/*
dataset/Mouse-Dynamics/training_files/*
dataset/Mouse-Dynamics/public_labels.csv
dataset/mouse_dataset_processado.parquet
dataset/keystroke_dataset_processado.csv

# IDE & Environments
.vscode/
.venv/