Notas_SA/

src/sensor/logs/*
src/sensor/__pycache__/

src/datasets/Keystrokes/files/*
src/datasets/Mouse-Dynamics/test_files/*
src/datasets/Mouse-Dynamics/training_files/*
src/datasets/Mouse-Dynamics/public_labels.csv
src/datasets/ProcessedData/mouse_dataset_processado.parquet
src/datasets/ProcessedData/keystroke_dataset_processado.csv

.vscode